
/* <--Header--> */

.header figure {
    border-bottom: 3px solid #FF0000;
    
}
.header figure p {
    float:right;
    text-align:center;
    font-size: xx-large;
    position: relative;
}

/* <--Présentation GBAF--> */

.texte-gbaf {
    text-align: center;
    margin: 0 auto;
    margin-top: 5vh;
    border: 2px solid #FF0000;
    width: 100%;
    max-width: 1500px;
}
.texte-gbaf p {
    width: 100%;
    max-width: 750px;
    display: inline-block;  
}
.texte-gbaf h1 {
    color: red;

}

/* <--Présentation Partenaires--> */

.texte-partenaires {
    text-align: center;
    margin: 0 auto;
    margin-top: 5vh;
    width: 100%;
    max-width: 1500px;
    border: 2px solid red;
}
.texte-partenaires p {
    width: 100%;
    max-width: 750px;
    display: inline-block;  
}
.texte-partenaires h2 {
    color:red;
}

/* <--Titres Partenaires--> */
.text-container h3 {
    color: red;
}

/* <--Partenaire Formation&Co--> */

.partenaire-formation-co {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    border: 2px solid red;
    display:flex;
    align-items: center;
}
.partenaire-formation-co p {
    width: 100%;
    max-width: 700px;
    text-align: left;
    margin-left: 2vh;
    display: inline-block;
    vertical-align: top;
}
.partenaire-formation-co img {
    display: block;
    margin-left: 2vh;
}

/* <--Partenaire ProtectPeople--> */

.partenaire-protect-people {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1500px; 
    border: 2px solid red;
    display:flex;
    align-items: center;
}
.partenaire-protect-people p {
    width: 100%;
    max-width: 750px;
    text-align: left;
    margin-left: 2vh;
    display: inline-block;
    vertical-align: top;
}
.partenaire-protect-people img {
    display: block;
    margin-left: 2vh;
}

/* <--Partenaire DSA France--> */

.partenaire-dsa-france {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    border: 2px solid red;
    display:flex;
    align-items: center;
}
.partenaire-dsa-france p {
    width: 100%;
    max-width: 750px;
    text-align: left;
    margin-left: 2vh;
    display: inline-block;
    vertical-align: top;
}
.partenaire-dsa-france img {
    display: block;
    margin-left: 2vh;
}

/* <--Partenaire CDE--> */

.partenaire-cde {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    border: 2px solid red;
    display:flex;
    align-items: center;
}
.partenaire-cde p {
    width: 100%;
    max-width: 750px;
    text-align: left;
    margin-left: 2vh;
    display: inline-block;
    vertical-align: top;
}
.partenaire-cde img {
    display: block;
    margin-left: 2vh;
}

/* <--Boutons Partenaires--> */

.button-formation-co {
    border: 2px solid red;
    box-shadow: 2.8px 2.2px rgba(0, 0, 0, 0.02);
    padding: 0.5vh;
    margin-left: auto;
    margin-top:auto;
    margin-bottom: 2vh;
    margin-right: 2vh;
}
.button-protect-people {
    border: 2px solid red;
    box-shadow: 2.8px 2.2px rgba(0, 0, 0, 0.02);
    padding: 0.5vh;
    margin-left: auto;
    margin-top:auto;
    margin-bottom: 2vh;
    margin-right: 2vh;
}
.button-dsa-france {
    border: 2px solid red;
    box-shadow: 2.8px 2.2px rgba(0, 0, 0, 0.02);
    padding: 0.5vh;
    margin-left: auto;
    margin-top:auto;
    margin-bottom: 2vh;
    margin-right: 2vh;
}
.button-cde {
    border: 2px solid red;
    box-shadow: 2.8px 2.2px rgba(0, 0, 0, 0.02);
    padding: 0.5vh;
    margin-left: auto;
    margin-top:auto;
    margin-bottom: 2vh;
    margin-right: 2vh;
}
/* <--Page Acteur : Formation & Co--> */

.acteur-formation-co {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px;
    height: 100%;
    border: 1px solid red; 
    margin-bottom: 1vh;  
}
.text-formation-co-acteurs h2 {
    margin-left: 2vh;
}
.text-formation-co-acteurs p {
    display: inline-flex;
    vertical-align: middle;
    line-height: 2vh;
    width: 100%;
    max-width:700px;
    margin-left: 2vh;
}
.img-partenaires{    
    text-align: center;
}

/* <-- Menu Commentaires--> */

.commentaires {
    border: 1px solid red;
    padding: 1vh;
    width: 100%;
    max-width:1500px;
    margin: 0 auto;
} 

.menu-commentaires {
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-left: 1vh;
    
}

/* <--Bouton Commentaires--> */

.bouton-commentaire {
    border: 1px solid red;
    border-radius: 10px;
    margin-left:auto;
    margin-bottom: auto;
    padding: 0.5vh;
    margin-right: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
}
.bouton-like-dislike {
    border: 1px solid red;
    border-radius: 10px;
    margin-bottom: auto;
    margin-right: 2vh;
    padding: 1vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
}
.fa {
    padding: 0.5vh;
}

/* <--Commentaires--> */

.first-commentaire {
    border: 1px solid red;
    border-radius: 10px;
    padding: 1vh;
    margin: 1vh;
}
.second-commentaire {
    border: 1px solid red;
    border-radius: 10px;
    padding: 1vh;
    margin: 1vh;
}
.third-commentaire {
    border: 1px solid red;
    border-radius: 10px;
    padding: 1vh;
    margin: 1vh;
} 

/* <--Formulaire de Connexion--> */

.connexion_form h3 {
    color:#FF0000;
    text-align:center;
    padding: 10px;

}
.connexion_form {
    text-align: center;
    padding:10px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #a6a6a6;
    border: 2px solid black;
    box-shadow: 1px 1px 10px 5px;
    margin-top: 5vh;
}
.connexion_form label {
    display: inline-block;
    width: 25%;
}

/* <--Formulaire d'Inscription--> */

.inscription_form {
    text-align: center;
    padding:10px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #a6a6a6;
    border: 2px solid black;
    box-shadow: 1px 1px 10px 5px;
    margin-top: 5vh;
   
}
.inscription_form h3 {
    color:#FF0000;
    text-align: center;

}
.inscription_form label {
    display: inline-block;
    width: 25%;
}

/* <--Liens--> */

a:link {
    color:red;
    text-decoration: none;
    text-decoration-line: none;
}

a:visited {
    color: red;
    text-decoration: none;
    text-decoration-line: none;
}

a:focus {
    border-bottom: 1px solid;
    text-decoration: none;
    text-decoration-line: none;
}
a:hover {
    text-decoration: underline;
}

a:active {
    border-bottom: 1px solid;
    text-decoration: none;
    text-decoration-line: none;

}


/* <--Footer--> */

.footer{
    background-color:#FF0000;
    color:#FFF;
    text-align:center;
    padding:0.5vh;
;


}
.footer a {
    color: #FFF;
}
.footer_mentions_legales {
    color: white!important;
    text-decoration: none;
    text-decoration-line: none;
   
}
.footer_contact {
    color: white!important;
    text-decoration: none;
    text-decoration-line: none;
}
.footer_index{
    color: white!important;
    text-decoration: none;
    text-decoration-line: none;
}
